#welcome-page
	.welcome
		p(class='tag-html')
		p(class='tag-body')
		h2 Hi, 
		h2 I`m <span class='d-color'>D</span>mitriy, 
		h2 web developer.

		p Front-end developer / Web developer 

		p 
			button Contact me
		
		p Сайт на стадии разработки	
	.logo-svg
		svg(width="100%" height="948px"  class="svg-line")
			line(x1="50" y1="-30" x2="660" y2="1110" stroke="white" stroke-width="100")
			line(x1="250" y1="-30" x2="860" y2="1110" stroke="white" stroke-width="100")
			line(x1="450" y1="-30" x2="1060" y2="1110" stroke="white" stroke-width="100")
		

#skills-page
	p Hello Skills    	


		