.welcome
	h2 Welcome to my <span>site-portfolio</span>
	h2 My name is <span>Dmitriy</span> and I`m <span>FULL-STACK Dev</span>

	.classification
		include classification

	.all-project
		.items
			img(src='../../img/projects/tablet.png')
		.items
			img(src='../../img/projects/minjust.png' alt='Сайт Министерства Юстиции в Одесской области')
		.items
			img(src='../../img/projects/oblenergo.png')
		.items
			img(src='../../img/projects/vokrugmira.png')
		.items