#welcome-page
	.welcome
		p(class='tag-html')
		p(class='tag-body')
		h2 Hi, 
		h2 I`m <span class='d-color'>D</span>mitriy, 
		h2 web developer.

		p Front-end developer / Web developer 

		p 
			button Contact me
		
		p Сайт на стадии разработки	
	.logo-svg
		svg(width="100%" height="948px"  class="svg-line")
			line(x1="50" y1="-30" x2="660" y2="1110" stroke="white" stroke-width="100")
			line(x1="250" y1="-30" x2="860" y2="1110" stroke="white" stroke-width="100")
			line(x1="450" y1="-30" x2="1060" y2="1110" stroke="white" stroke-width="100")
		

#skills-page
	.about-skills
		h2 Skills <span class='d-color'>&</span> Experiance
		p  The main part of my work and what I like to do is <span class='d-color'>F</span>ront-end. Today I use in my work such a stack of technologies as:<span class='d-color'> HTML/CSS/JS, JQuery, ES2015, NodeJS, Express, Pug, Gulp, Webpack, Sass </span>. With their help, I creating single page, news portal, highly loaded web-pages and other. 

		p Now I`m in the process of studying JS library - <span class='d-color'>React</span>. Creating simple App to increase the experience in this technology. Also familiar with framework Angular 2.

		p Below you can see the temporary map of my use of technology:
			

	.about-me
		.my-photo
			p 
				img(src='img/photo.png')
#project-page
	.project-title
		h2 My <span class='d-color'>P</span>rojects	
	.project-list
#other-page
	.other-title
		h2 <span class='d-color'>O</span>ther in My Life
	.other-list

		