.welcome
	h2 Welcome to my <span>site-portfolio</span>
	h2 My name is <span>Dmitriy</span> and I`m <span>FULL-STACK Dev</span>

	.classification
		include classification
	
	.flip-container
		-var flip_content = {'Веб-приложение "Контрольные обходы"':'../../img/projects/tablet.png','Практика в адаптивной-верстке psd-шаблона':'../../img/projects/realhome.png','Игра на REACT':'../../img/projects/fastfood.png','Верстка анимированного куба':'../../img/projects/cube.png','Верстка psd-шаблона на PUGJS':'../../img/projects/hazy.png','Официальный сайт "Министерства Юстиции Украины в Одесской области"':'../../img/projects/minjust.png','Сайт для компании по оформлению ВИЗ':'../../img/projects/vokrugmira.png','Официальный сайт ПАО "Одессаоблэнерго"':'../../img/projects/oblenergo.png'}
			each flipImg, flipText in flip_content
				.flip
					.back 
						.desc
							h3=flipText		
					.front
						img(src=flipImg)