.welcome
	h2 Welcome to my <span>site-portfolio</span>
	h2 My name is <span>Dmitriy</span> and I`m <span>FULL-STACK Dev</span>

	.classification
		include classification
	
	.flip-container
		.flip
			.back 
				.desc
					h3 "Контрольные обходы. Занесение показаний" 
					p Веб-приложение для контроля и занесения показаний счетчиков.
					h3 Используемый стек технологий:			
			.front
				img(src='../../img/projects/tablet.png')
		.flip
			.back 
				.desc
					h3 Официальный сайт "Министерства Юстиции Украины в Одесской области" 
			.front
				img(src='../../img/projects/minjust.png' alt='Сайт Министерства Юстиции в Одесской области')
		.flip
			.back 
				.desc
					h3 Сайт для компании по оформлению виз
			.front
				img(src='../../img/projects/vokrugmira.png')
		.flip
			.back
				.desc 
					h3 Практика в адаптивной-верстке psd-шаблона
			.front
				img(src='../../img/projects/realhome.png')
		.flip
			.back
				.desc 
					h3 Верстка анимированного куба
			.front
				img(src='../../img/projects/cube.png')
		.flip
			.back 
				.desc
					h3 Верстка psd-шаблона на PUGJS
			.front
				img(src='../../img/projects/hazy.png')
		.flip
			.back 
				.desc
					h3 Официальный сайт ПАО "Одессаоблэнерго"
			.front
				img(src='../../img/projects/oblenergo.png')
		.flip
			.back 
				.desc
					
			.front
				
		.flip
			.back 
				.desc
					
			.front
		.flip
			.back 
				.desc
					
			.front
					
