.logo
	p
		a(href='#') <span class="d-color">D</span><span class="n-color">N</span>
	p Web

.icon-menu
	ul
		li 
			a(href='#welcome-page' onClick="ChangePages('welcome-page')")
				img(src='img/icon/home.png')
		li 
			a(href='#skills-page' onClick="ChangePages('skills-page')")
				img(src='img/icon/skills.png')
		li
			a(href='#' onClick="ChangePages('project-page')")
				img(src='img/icon/projects.png')
		li 
			a(href='#')
				img(src='img/icon/other.png')

.icon-social
	ul
		li
			a(href='https://github.com/DimaNovik' target='_blank')
				img(src='img/icon/github.png')
				
		li
			a(href='#')
				img(src='img/icon/insta.png')
				
		li
			a(href='https://www.facebook.com/dmitryy.novakovskyy' target='_blank')
				img(src='img/icon/fb.png')
				