.project-list
	- var projects = [{title: 'Counter reading on tablet', link: "", img: "img/projects/guithub.png"},{title: 'Counter reading on tablet', link: "", img: "img/projects/portfolio.png"},{title: 'Counter reading on tablet', link: "", img: "img/projects/tablet.png"},{title: 'Counter reading on tablet', link: "", img: "img/projects/vokrugmira.png"},{title: 'Counter reading on tablet', link: "", img: "img/projects/realhome-mini.png"},{title: 'Counter reading on tablet', link: "", img: "img/projects/minjust.png"},{title: 'Counter reading on tablet', link: "", img: "img/projects/oblenergo.png"},{title: 'Counter reading on tablet', link: "", img: "img/projects/hazy.png"},{title: 'Counter reading on tablet', link: "", img: "img/projects/fastfood.png"},];

		each project in projects
			.project-item
				.view-circle-field
					.view-circle
					img(src=project.img)