.about-skills
	h2 Skills <span class='d-color'>&</span> Experiance
	p  The main part of my work and what I like to do is <span class='d-color'>F</span>ront-end. Today I use in my work such a stack of technologies as:<span class='d-color'> HTML/CSS/JS, PHP/MySQL, JQuery, ES2015, NodeJS, Express, Pug, Gulp, Webpack, Sass, Flex/Bootstrap </span>. With their help, I creating single page, news portal, highly loaded web-pages and other. 

	p Now I`m in the process of studying JS library - <span class='d-color'>React</span>. Creating simple App to increase the experience in this technology. Also familiar with framework Angular 2.

	p Below you can see the temporary map technologies used by me:

	.time-line
		.block-time-lines
			.time-line-1
			.time-line-2
			.time-line-3
			.time-line-4
			.time-line-5
			
		.period-time
			p 2013
		.period-time
			p 2014
		.period-time
			p 2015
		.period-time
			p 2016
		.period-time
				p 2017
			
	.time-desc
		p Temporary map description:
		ul
			li(id='desc-line-1')
				p HTML/CSS/JS, PHP/MySQL/MSSQL

			li(id='desc-line-2')
				p JQuery, Bootstrap

			li(id='desc-line-3') 
				p React

			li(id='desc-line-4')
				p Angular 2 

			li(id='desc-line-5')
				p ES2015, NodeJS, Express, Pug, Gulp, Webpack, Sass, Flex

.about-me
	.my-photo
		p 
			img(src='img/photo.png')
	.education
		.educ-item-1
			p
				img(src='img/icon/university.png')
				| 2008 - 2011 : <span class='d-color'>Odessa State Environmental University</span>
		.educ-item-2
			p
				img(src='img/icon/university.png')
				| 2004 - 2008 : <span class='d-color'>College of Industial Automatics</span>
		.educ-item-3
			p
				img(src='img/icon/certificate.png')
				| 2017 : Computing School "Hillel". Certificate of completion course 
				a(href="#popup-education")
					<span class='d-color'>"Front-end PRO" (Click for view certificate)</span>

.overlay-education#popup-education
	.popup-education
		h2 Computing School "Hillel".
		a(class="close-education" href="#") &times
		.content-education
			p(align="center")
				img(src="img/hillel-sertificat.png")
			