.welcome
	p(class='tag-html')
	p(class='tag-body')
	h2 Hi, 
	h2 I`m <span class='d-color'>D</span>mitriy, 
	h2 web developer.

	p Front-end developer / Web developer 

	p 
		a(class="button" href="#popup") Contact Me
		
	p Site under development	
.logo-svg
	svg(class="svg-line")
		line( x1="50" y1="-30" x2="660" y2="1110" stroke="white" stroke-width="100")
		line( x1="250" y1="-30" x2="860" y2="1110" stroke="white" stroke-width="100")
		line( x1="450" y1="-30" x2="1060" y2="1110" stroke="white" stroke-width="100")

.overlay#popup
	.popup
		h2 Contacts
		a(class="close" href="#") &times
		.content
			.content-text
				p Novakovskiy Dmitriy
				p Ukraine, Odessa
				p Email: dimanovik1989@gmail.com
				p Phone: +38 (093) 050-47-18
				p Skype: dimanovik1989
			.content-map
				p 
					img(src="img/map.png")
