@import url('classification.css');
@import url('project-list.css');

/*SECTION-CONTENT*/
.main-content {
	width: 100%;
	background-color: #444444;
	
}

.tag-body:before {
	color:#fff;
	content: ".";
}

#welcome-page {
	display: flex;
	justify-content: space-between;
}

.welcome {
	align-self: center;
	padding-left:50px;
}

.welcome h2 {
	text-align: left;
	font-family: "Helvetica", sans-serif;
	font-size: 6.5em;
	color:#fff;

}

.welcome p {
	font-size: 1.5em;
	color:#fff;
	text-align: center;
	margin: 45px 0; 
}

.welcome button {
	text-transform: uppercase;
	color:#08FDD8;
	background-color: transparent;
	width: 150px;
	height: 50px;
	border: 1px solid #08FDD8;
}

.welcome button:hover, active {
	color:#FC0853;
	border: 1px dashed #FC0853;

}

.logo-svg {
	width:60%;
}

.svg-line {
	opacity: 0.2;
}

#skills-page {
	display: none;
	background-color: yellow;
	height: 100vh;
}


