doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		link(href='css/main.css' rel='stylesheet')
		title DN - PORTFOLIO
	body
		.wrapper
			.left-menu#left-menu
				include includes/left-menu
			.main-content
				include includes/content

//script(src='js/view-menu.js')