.left-menu {
	width: 80px;	
	background-color: #181818;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.logo {
	height: 150px;
	background-color: #000;
}

.logo p {
	text-transform: uppercase;
	color:#fff;
	margin:0 auto;
	padding-top: 30px;
	font-weight: bold;
}


.logo a {
	text-decoration: none;
	font-size: 4em;
	font-weight: bold;
}


.d-color {
	color:#08FDD8;
}

.n-color {
	color:#FC0853;
	position: absolute;
	margin-left: -20px;
}

.icon-menu ul li {
	padding: 20px 0;
}

.icon-menu ul li:hover {
	-webkit-transition: 1s;
	transition: 1s;
	background-color: #08FDD8;
	cursor: pointer;
}

.icon-menu ul li a {
	display: block;
}

.icon-social ul li {
	padding: 20px 0;
}

.icon-social ul li:hover {
	-webkit-transition: 1s;
	transition: 1s;
	background-color: #08FDD8;
	cursor: pointer;
}

.icon-social ul li a {
	display: block;
}