.left-menu {
	width: 80px;	
	background-color: #181818;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo {
	height: 150px;
	background-color: #000;
}

.logo p {
	text-transform: uppercase;
	color:#fff;
	margin:0 auto;
	padding-top: 30px;
	font-weight: bold;
}


.logo a {
	text-decoration: none;
	font-size: 4em;
	font-weight: bold;
}


.d-color {
	color:#08FDD8;
}

.n-color {
	color:#FC0853;
	position: absolute;
	margin-left: -20px;
}

.icon-menu ul li {
	padding: 20px 0;
}

.icon-menu ul li:hover {
	background-color: #08FDD8;
	cursor: pointer;
}

.icon-social ul li {
	padding: 20px 0;
}

.icon-social ul li:hover {
	background-color: #08FDD8;
	cursor: pointer;
}