.left-menu {
	width: 80px;	
	background-color: #181818;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo {
	height: 150px;
	background-color: #000;
}

.logo p {
	text-transform: uppercase;
	color:#fff;
	margin:0 auto;
	padding-top: 30px;
	font-weight: bold;
}


.logo a {
	text-decoration: none;
	font-size: 4em;
	font-weight: bold;
}


.d-color {
	color:#08FDD8;
}

.n-color {
	color:#FC0853;
	position: absolute;
	margin-left: -20px;
}

.icon-menu ul li {
	padding: 20px 0;
}

.icon-menu ul li:hover {
	transition: 1s;
	background-color: #08FDD8;
	cursor: pointer;
}

.icon-menu ul li a {
	display: block;
}

[tooltip]{
  margin:20px;
  position:relative;
}
 
[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent transparent;
    z-index: 100;
    opacity: 0;
}
 
[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}

[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
}

.icon-social ul li {
	padding: 20px 0;
}

.icon-social ul li:hover {
	transition: 1s;
	background-color: #08FDD8;
	cursor: pointer;
}

.icon-social ul li a {
	display: block;
}