
/*SECTION-CONTENT*/
.main-content {
	width: 100%;
	background-color: #444444;	
}

/* Style for WELCOME-PAGE*/

#welcome-page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.welcome {
	width: 50%;
	-ms-flex-item-align: center;
	    align-self: center;
	padding-left:30px;
	-webkit-animation: welcomeShow 1.5s linear;
	        animation: welcomeShow 1.5s linear;
}

.welcome h2 {
	text-align: center;
	font-size: 6.5em;
	color:#fff;
}

.welcome p {
	font-size: 1.5em;
	color:#fff;
	text-align: center;
	margin: 45px 0; 
}

.button {
	padding: 20px 30px;
	text-transform: uppercase;
	text-decoration: none;
	color:#08FDD8;
	background-color: transparent;
	width: 150px;
	height: 50px;
	border: 1px solid #08FDD8;
}

.button:hover, active {
	color:#FC0853;
	border: 1px dashed #FC0853;

}

.logo-svg {
	width: 100%;
	-ms-flex-item-align: start;
	    align-self: flex-start;
}

.svg-line {
	width: 100%;
	opacity: 0.2;
	-webkit-animation: moveMainLines 1s linear forwards ;
	        animation: moveMainLines 1s linear forwards ;
}

.overlay {
	position: fixed;
	margin: 0 auto;
	background-color: #333;
	-webkit-transition: opacity 500ms;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100vh;
}

.overlay:target {
	visibility: visible;
	opacity: 0.9;
}

.popup {
	padding:20px;
	background-color: #fff;
	width: 50%;
	left:25%;
	position: absolute;
	-webkit-transition: all 3s ease-in-out;
	transition: all 3s ease-in-out;
	margin:20px auto;
}

.popup h2 {
	font-size: 1.8em;
}

.popup .close {
	position: absolute;
	top:20px;
	right: 30px;
	-webkit-transition: all 200ms;
	transition: all 200ms;
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	color:#333;
}

.popup .close:hover {
	color: #08FDD8;
}

.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
} 

.content-text {
	width: 50%;
}
.content-map img {
	width: 60%;
}

.content p {
	margin: 15px 0;
	font-size: 1.4em;
}

/* Style for SKILLS-PAGE*/
#skills-page {
	display: none;
	height: 100vh;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

}

.about-skills {
	-ms-flex-item-align: center;
	    align-self: center;
	padding-left: 30px;
	width: 50%;
}

.about-skills h2 {
	font-size: 6.5em;
	color:#fff;
}

.about-skills p {
	font-size: 1.6em;
    line-height:1.6;
	color:#fff;
	margin: 25px 0;
}

.time-line {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.period-time {
	width: 100%;
	height: 130px;
	border-bottom: 1px solid #fff;
	border-right: 1px dashed #fff;
	text-align: center;
	background-color: #333;
	opacity: 0.3;
	position: relative;
	z-index: 0;
}

.period-time p {
	font-size: 1.4em;
	margin:0;
}

.block-time-lines {
	position: absolute;
	z-index: 1;
	width:47%;
	height: 100px;
	margin-top: 40px;
}

.time-line-1 {
	width: 0%;
	border-bottom: 3px solid #08FDD8; 
	-webkit-animation:linemove-1 1s linear forwards; 
	        animation:linemove-1 1s linear forwards;
}

.time-line-2 {
	margin-top: 15px;
	width: 0%;
	margin-left: 20%;
	border-bottom: 3px solid #3041fc; 
	-webkit-animation:linemove-2 1s linear forwards; 
	        animation:linemove-2 1s linear forwards;
}

.time-line-3 {
	margin-top: 15px;
	width: 0%;
	margin-left: 80%;
	border-bottom: 3px solid green; 
	-webkit-animation:linemove-3 1s linear forwards; 
	        animation:linemove-3 1s linear forwards;
}

.time-line-4 {
	margin-top: 15px;
	width: 0%;
	margin-left: 75%;
	border-bottom: 3px solid #FC0853; 
	-webkit-animation:linemove-4 1s linear forwards; 
	        animation:linemove-4 1s linear forwards;
}

.time-line-5 {
	margin-top: 15px;
	width: 0%;
	margin-left: 80%;
	border-bottom: 3px solid yellow; 
	-webkit-animation:linemove-5 1s linear forwards; 
	        animation:linemove-5 1s linear forwards;
}

.time-desc {
	width: 100%;
	margin-top: 40px;
}


.time-desc ul {
	list-style-type:none;
}

#desc-line-1 {
	border-left:3px solid #08FDD8;
	padding-left: 10px; 
}

#desc-line-2 {
	border-left:3px solid #3041fc;
	padding-left: 10px;  
}

#desc-line-3 {
	border-left:3px solid green; 
	padding-left: 10px; 
}

#desc-line-4 {
	border-left:3px solid #FC0853; 
	padding-left: 10px; 
}

#desc-line-5 {
	border-left:3px solid yellow; 
	padding-left: 10px; 
}

.about-me {
	-ms-flex-item-align: center;
	    align-self: center;
	width: 50%;	
}

.my-photo {
	width: 180px;
	height: 180px;
	border-radius:180px;
	overflow: hidden;
	margin:0 auto;
}

.my-photo img {
	opacity: 0.8;
}

.my-photo img:hover {
	opacity: 1;
	-webkit-transition: 1s;
	transition: 1s;
}


.education p {
	font-size: 1.6em;
	line-height:1.6;
	color:#fff;
	margin: 47px 0;
}

.education img {
	float:left;
	margin:0 25px;
}

.education a {
	text-decoration: none;
}

.educ-item-1 {
	opacity: 0;
	-webkit-animation:showEducItem 1s linear forwards;
	        animation:showEducItem 1s linear forwards;
}

.educ-item-2 {
	opacity: 0;
	-webkit-animation:showEducItem 1s linear 1s forwards;
	        animation:showEducItem 1s linear 1s forwards;
}

.educ-item-3 {
	opacity: 0;
	-webkit-animation:showEducItem 1s linear 2s forwards;
	        animation:showEducItem 1s linear 2s forwards;
}

.view-sert {
	text-align: center;
}

.view-sert a {
	color:#08FDD8;
	text-decoration: none;
}

.overlay-education {
	position: fixed;
	margin: 0 auto;
	background-color: #333;
	-webkit-transition: opacity 500ms;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100vh;
}

.overlay-education:target {
	visibility: visible;
	opacity: 0.95;
	z-index: 20;
}

.popup-education {
	padding:20px;
	background-color: #fff;
	width: 50%;
	left:25%;
	position: absolute;
	-webkit-transition: all 3s ease-in-out;
	transition: all 3s ease-in-out;
	margin:20px auto;
}

.popup-education .close-education {
	position: absolute;
	top:20px;
	right: 30px;
	-webkit-transition: all 200ms;
	transition: all 200ms;
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	color:#333;
}

.popup-education .close-education:hover {
	color: #08FDD8;
}

.content-education {
	padding: 25px 15px;
}

.content-education img {
	width: 100%;
}

/* Style for PROJECT-PAGE*/
#project-page {
	display: none;
	height: 100vh;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.project-list {
	padding: 0;
	margin: 0;
}

.project-item {
	width: 300px;
	height: 250px;
	overflow: hidden;
	float: left;
	-ms-flex-line-pack: end;
	    align-content: flex-end;
}

.project-item img {
	max-width: 300px;
	opacity: 0.6;
	position: relative;
	z-index: 1;
}

.project-item img:hover {
	opacity: 0.95;
	-webkit-transition: 1s;
	transition: 1s;
	max-width: 310px;
}


.view-circle {
	opacity: 0;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: #08FDD8;
	position: absolute;
	z-index: 2;
	margin-left: 100px;
	margin-top: 70px;
}

.view-circle:hover {
	opacity: 1;
	-webkit-transition: 1s;
	transition: 1s;
}

.view-circle a {
	display: block;
	height: 100px;
	text-align: center;
	text-decoration: none;
	font-size: 1.4em;
	color:#444;
	line-height: 100px;
	font-weight: bold;
}

.overlay-projects {
	position: fixed;
	margin: 0 auto;
	background-color: #333;
	-webkit-transition: opacity 500ms;
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100vh;
}

.overlay-projects:target {
	visibility: visible;
	opacity: 0.95;
	z-index: 20;
}

.popup-projects {
	padding:20px;
	background-color: #fff;
	width: 50%;
	left:25%;
	position: absolute;
	-webkit-transition: all 3s ease-in-out;
	transition: all 3s ease-in-out;
	margin:20px auto;
}

.popup-projects .close-projects {
	position: absolute;
	top:20px;
	right: 30px;
	-webkit-transition: all 200ms;
	transition: all 200ms;
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	color:#333;
	display: block;
	height: 100%;
}

.popup-projects .close-projects:hover {
	color: #08FDD8;
}

.content-projects {
	padding: 25px 15px;
}

.content-projects img {
	width: 100%;
}





/* Style for OTHER-PAGE*/
#other-page {
	display: none;
	height: 100vh;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.other-title {
	-ms-flex-item-align: center;
	    align-self: center;
	text-align: center;
	width: 50%;
}

.other-title h2 {
	font-family: "Helvetica", sans-serif;
	font-size: 6.5em;
	color:#fff;
}



