@import url('classification.css');
@import url('project-list.css');

/*SECTION-CONTENT*/
.main-content {
	width: 100%;
	background-color: #444444;	
}

/* Style for WELCOME-PAGE*/

#welcome-page {
	display: flex;
	justify-content: space-between;
}

.welcome {
	align-self: center;
	padding-left:50px;
}

.welcome h2 {
	text-align: left;
	font-family: "Helvetica", sans-serif;
	font-size: 6.5em;
	color:#fff;
}

.welcome p {
	font-size: 1.5em;
	color:#fff;
	text-align: center;
	margin: 45px 0; 
}

.welcome button {
	text-transform: uppercase;
	color:#08FDD8;
	background-color: transparent;
	width: 150px;
	height: 50px;
	border: 1px solid #08FDD8;
}

.welcome button:hover, active {
	color:#FC0853;
	border: 1px dashed #FC0853;

}

.logo-svg {
	width:60%;
}

.svg-line {
	opacity: 0.2;
}

/* Style for SKILLS-PAGE*/
#skills-page {
	display: none;
	height: 100vh;
	justify-content: space-between;

}

.about-skills {
	align-self: center;
	text-align: center;
	width: 50%;
}

.about-skills h2 {
	font-family: "Helvetica", sans-serif;
	font-size: 6.5em;
	color:#08FDD8;
}

.about-me {
	align-self: center;
	width: 50%;	
}

.my-photo {
	width: 180px;
	height: 180px;
	border-radius:180px;
	overflow: hidden;
	margin:0 auto;
}

.my-photo img {
	opacity: 0.8;
}

.my-photo img:hover {
	opacity: 1;
	transition: 1s;
}


/* Style for PROJECT-PAGE*/
#project-page {
	display: none;
	height: 100vh;
	justify-content: space-between;
}

.project-title {
	align-self: center;
	text-align: center;
	width: 50%;
}

.project-title h2 {
	font-family: "Helvetica", sans-serif;
	font-size: 6.5em;
	color:#08FDD8;
}



/* Style for OTHER-PAGE*/
#other-page {
	display: none;
	height: 100vh;
	justify-content: space-between;
}

.other-title {
	align-self: center;
	text-align: center;
	width: 50%;
}

.other-title h2 {
	font-family: "Helvetica", sans-serif;
	font-size: 6.5em;
	color:#08FDD8;
}



